a {
	text-decoration: none;
}

body {
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #3f51b5; */
	background-color: #222222;
	color: white;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.button-container > * {
	margin: 5px;
}

.button {
	display: inline-flex;
	align-items: center;
	color: black;
	background-color: #ff1744;
	padding: 5px 15px 5px 3px;
	border-radius: 25px 5px 5px 25px;
	height: 50px;
	box-sizing: border-box;
	font-weight: 500;
	/* transition: transform 0.25s; */
}
.button:hover {
	background-color: #ff616f;
}
/* .button:active {
	transform: translateY(2px);
} */
/* .button:focus {
	outline: 2px dashed white;
}
.button::-moz-focus-inner {
	border: 0;
} */
.button > :not(:last-child) {
	margin-right: 10px;
}
.button-svg-wrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	background-color: white;
}
.button-svg {
	height: 28px;
	width: 28px;
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 20px;
	max-width: 500px;
}
.content-wrapper > :not(:last-child) {
	margin-bottom: 30px;
}

h1 {
	font-size: 55px;
	font-weight: 500;
	margin: 0;
	text-align: center;
	line-height: 1;
}

h2 {
	font-size: 35px;
	font-weight: 500;
	margin: 0;
	text-align: center;
	line-height: 1;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
header > :not(:last-child) {
	margin-bottom: 20px;
}

p {
	margin: 0;
	line-height: 1;
}

.profile-image {
	border-radius: 50%;
	border: 3px solid white;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section > :not(:last-child) {
	margin-bottom: 20px;
}
