a {
	text-decoration: none;
}

.button-link {
	color: black;
	background-color: #ff1744;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 3px;
}
.button-link:hover {
	background-color: #ff616f;
}

body {
	margin: 0;
	font-family: 'Mukta';
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5c6bc0;
	color: white;
}

h1 {
	font-size: 65px;
	margin: 0;
	text-align: center;
	line-height: 1;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	padding: 0 20px;
}
main > *:not(:last-child) {
	margin-bottom: 20px;
}

p {
	margin: 0;
}

.profile-image {
	border-radius: 50%;
	border: 5px solid #ff1744;
}
