a {
	text-decoration: none;
}

a, button {
	color: black;
	background-color: #ff1744;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 3px;
}
a:hover, button:hover {
	background-color: #ff616f;
}

body {
	margin: 0;
	font-family: 'Nunito';
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5c6bc0;
	color: white;
}

h1 {
	font-size: 65px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
